html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: white;

}

.Header {
  height: 10%;
  color: black;
  background-color: #D5E8D4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;

}


.button {
  color: black;
  background-color: white;
  border: 1px solid black;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.Content {
  height: 80%;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.Main_Area {
  color: black;
  background-color: #F8CECC;
    width: 100%;
    height: 100%;
  text-align: center;
  padding-top: 0px;
}

.Section1 {
  color: black;
  background-color: #F8CECC;
  border: 1px solid #B85450;
    width: 99,99%;
    height: 132.65px;
  text-align: center;
  padding-top: 132.65px;
  padding-bottom: 0px;

}

.Section2 {
  color: black;
  background-color: #FFE6CC;
    width: 99,99%;
    height: 132.65px;
  text-align: center;
  padding-top: 132.65px;
  padding-bottom: 0px;
}

.Section3 {
  color: black;
  background-color: #E1D5E7;
  border: 1px solid #9673A6;
    width: 99,99%;
    height: 132.65px;
  text-align: center;
  padding-top: 132.65px;
  padding-bottom: 0px;
}

.Footer {
  height: 10%;
  color: black;
  background-color: #F5F5F5;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: auto;
}

